{{ 'section-collection-featured.css' | asset_url | stylesheet_tag }}

<div class="grid-container">
    <div class="grid-item">
      <a href="#athleisure">
        <img src="{{ section.settings.image_picker_id | image_url: width: 480, height:480   }}" alt="Athleisure">
        <div class="caption">ATHLEISURE</div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#outerwear">
        <img src="{{ section.settings.image_picker_id | image_url: width: 480, height:480   }}" alt="Athleisure">
        <div class="caption">OUTERWEAR</div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#basics">
        <img src="{{ section.settings.image_picker_id | image_url: width: 480, height:480   }}" alt="Athleisure">
        <div class="caption">BASICS</div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#final-markdown">
        <img src="{{ section.settings.image_picker_id | image_url: width: 480, height:480   }}" alt="Athleisure">
        <div class="caption">FINAL MARKDOWN</div>
      </a>
    </div>
  </div>

{% schema %}
    {
        "name": "Collection featured",
        "class": "collection_featured",
        "tag": "section",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "image_picker",
                "id": "image_picker_id",
                "label": "Image picker"
            }
        ],
        "presets": [
            {
                "name": "Collection featured"
            }

        ]
    }
{% endschema %}
